@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*,
a {
  font-family: "Roboto", sans-serif;
}

.register-page {
  display: flex;
  justify-content: center;
  transition: padding 0.25s ease;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.form {
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  width: calc(100% - 90px);
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 15px;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #ffff35;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  transition: all 0.25s ease;
  cursor: pointer;
  border-radius: 15px;
}

.form button:hover,
.form button:active {
  background: #151515;
  color: lightgray;
}

.form .message {
  margin: 15px 0 0;
  color: #ff3535;
  font-size: 12px;
}

.form .message a {
  color: #ffff35;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #ffff35;
}

.container .info span {
  color: #333;
  font-size: 12px;
}

.container .info span a {
  color: #151515;
  text-decoration: none;
}

body {
  background-color: rgba(255, 255, 0, 0.5);
}

.register-message {
  color: #151515;
  font-weight: bold;
}

span.error {
  color: #ff3535;
}

input.error{
  border: 1px solid #ff3535;
  box-shadow: 0 0 5px 0 #ff3535, 0 0 0 0 #ff3535;
}

.login a {
  text-decoration: none;
  color: #151515;
}

.login a:hover {
  text-decoration: underline;
}

span {
  margin: 5px;
}

@media only screen and (max-width: 750px) {
  .register-page {
    width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .register-page {
    width: 80%;
    margin: 0 10%;
    padding-top: 75px;
  }
}
